
<div class="saved-r">

	<h1><%= @recipe_box.name %> </h1>
	
	<% @recipe_box.recipes.each do |recipe|%>
	
		
		<p>
		<img src=<%= recipe.image_url  %> >
		<%= link_to recipe.name, recipe_path(recipe.yummly_id)  %>:
		Takes <%= recipe.cooktime %> mins to cook. <%= recipe.rating %> star rating.

		</p>
	
	<% end %>
	<br>


<div class="btn-bottom">
	<button class="btn btn-default"><%= link_to 'Back to Search Page', root_path %></button>
	<button class="btn btn-default"><%= link_to 'See All Saved Recipes', recipe_boxes_path %></button>
	<button class="btn btn-default"><%= link_to 'Edit Recipe Box', edit_recipe_box_path(@recipe_box.id)  %></button>
	<button class="btn btn-default"><%= link_to 'Delete Recipe Box', recipe_box_path(@recipe_box.id), :method => 'delete', :confirm => 'Delete Recipe Box?' %></button>
</div>


	
</div>
