<div class="page-center">
	
	<h1>Add Note</h1><br>
	
		<%= form_tag recipe_create_note_path do %>
		  <%= label_tag :notes, "Add notes:" %><br>
		  <%= text_area_tag :notes, nil,  size: "25x8" %>
		  <%= hidden_field_tag :recipe_id, @recipe_id  %><br>
			
		  <%= submit_tag("Save Note") %>
		<% end %>
	
</div>

